<div class="container">
  <h1><%= @list.name %></h1>
  <% @list.movies.each do |movie| %>
    <%= movie.title %>
    <%= image_tag movie.poster_url, height: 200 %>
  <% end %>

<%= link_to 'Back to all lists', lists_path %>
</div>
